html, body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;;
}

#parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content-area {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}

.sidebar {
  width: 400px;
  height: 100%;
  padding: 25px 15px;
  background-color: #074C57;
  color: #FFF;
  text-align: left;
  border-right: 1px solid #538289;
  display: flex;
  flex-direction: column;
}

.sidebar-top {
  flex-grow: 1;
  border-bottom: 1px solid #538289;
}

.sidebar-bottom {
  padding-top: 15px;
}

.sidebar h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.sidebar h5 {
  margin-bottom: 20px;
}

#mapContainer {
  backgroundColor: #ccc;
  flex-grow: 1
}

.reset {
  margin-bottom: 25px;
}

.reset:hover {
  text-decoration: underline;
  cursor: pointer;
}
