#mapContainer {
  backgroundColor: #ccc;
  flex-grow: 1
}

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 400px;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.sidebar h3 {
  font-size: 30px;
  text-align: center;
}

.button-69 {
  transition-duration: 0.4s;
}

.button-69:hover {
  background-color: #2596be; 
  color: white;
}


.menu-ui {
  background:#fff;
  position:absolute;
  top:50px;left:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }
  .menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu-ui a.active,
    .menu-ui a.active:hover {
      background:#3887BE;
      color:#FFF;
      }
